:root {
  --dark-green: #006600;
  --orange-brown: #9a6735;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 2rem 2rem 2rem 8rem;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}
a.active {
  color: var(--orange-brown);
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main {
  flex-grow: 1;
}

.content {
  max-width: 40rem;
  margin: 0 auto;
}

.footer {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
  }
  .nav {
    padding: 2rem;
  }
  .main {
    padding: 2rem;
  }
}
