:4000 {
    root * /var/www/ryannicoletti.net
    file_server
    try_files {path} {path}.html {path}/ =404

    header {
        Content-Security-Policy "default-src 'self'; style-src 'self'; script-src 'self'"
        Referrer-Policy "origin-when-cross-origin"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "deny"
        X-XSS-Protection "0"
    }

    encode gzip
}

# birdfeed
:4001 {
        reverse_proxy localhost:8080
        encode gzip
}
