[Unit]
Description=ryannicoletti.net service
After=postgresql.service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=byryan
Group=byryan
EnvironmentFile=/etc/byryanweb/production.env
WorkingDirectory=/opt/byryan
ExecStart=/opt/byryan/web -env=production
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target