{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - Ryan Nicoletti</title>

    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/pages/{{.PageName}}.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

    {{if .Post}}
    {{if .Post.Slug}}
    <link rel="stylesheet" href="/static/css/posts/{{.Post.Slug}}.css" />
    <link rel="stylesheet" href="/static/css/pages/post.css" />
    {{
      end
    }}
    {{
      end
    }}
  </head>

  <body>
    <header>
      {{template "nav" .}}
    </header>
    <main class="main">
      <div class="content">{{template "page-content" .}}</div>
    </main>
    <footer class="footer">&copy; {{.CurrentYear}} Ryan Nicoletti</footer>
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{ end }}
